.qmenu_opened.marker
.probe/
.vscode/
aes/
config/
GuGuCraft-DEV-NEO-natives/
local/
logs/
PCL/
resourcepacks/
saves/
schematics/
XaeroWaypoints/
XaeroWorldMap/
GuGuCraft-DEV-NEO.jar
GuGuCraft-DEV-NEO.json
options.txt
rhino.local.properties
usercache.json
usernamecache.json