.qmenu_opened.marker
.probe/
.vscode/
aes/
config/
crash-reports/
GuGuCraft-DEV-NEO-natives/
local/
logs/
PCL/
resourcepacks/
saves/
schematics/
XaeroWaypoints/
XaeroWaypoints_Backup032021/
XaeroWorldMap/
GuGuCraft-DEV-NEO.jar
GuGuCraft-DEV-NEO.json
options.txt
rhino.local.properties
usercache.json
usernamecache.json